/* Main Loader ****************************************/
.loader-cont {
    position: relative;
    padding: 6rem;
    border-radius: 1rem;
    background-color: #c0c0c0;
    inset: 30% 20% auto 20%;
    /* transform: translate(-50%, -50%); */
}

.loadingspinner {
    --square: 26px;
    --offset: 30px;
    --duration: 2.4s;
    --delay: 0.2s;
    --timing-function: ease-in-out;
    --in-duration: 0.4s;
    --in-delay: 0.1s;
    --in-timing-function: ease-out;
    width: calc( 3 * var(--offset) + var(--square));
    height: calc( 2 * var(--offset) + var(--square));
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
}

.loadingspinner div {
    display: inline-block;
    background: darkorange;
    /*background: var(--text-color);*/
    /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);*/
    border: none;
    border-radius: 2px;
    width: var(--square);
    height: var(--square);
    position: absolute;
    padding: 0px;
    margin: 0px;
    font-size: 6pt;
    color: black;
}

.loadingspinner #square1 {
    left: calc( 0 * var(--offset) );
    top: calc( 0 * var(--offset) );
    animation: square1 var(--duration) var(--delay) var(--timing-function) infinite,
                squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square2 {
    left: calc( 0 * var(--offset) );
    top: calc( 1 * var(--offset) );
    animation: square2 var(--duration) var(--delay) var(--timing-function) infinite,
                squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square3 {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
    animation: square3 var(--duration) var(--delay) var(--timing-function) infinite,
                squarefadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square4 {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
    animation: square4 var(--duration) var(--delay) var(--timing-function) infinite,
                squarefadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square5 {
    left: calc( 3 * var(--offset) );
    top: calc( 1 * var(--offset) );
    animation: square5 var(--duration) var(--delay) var(--timing-function) infinite,
                squarefadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
}

@keyframes square1 {
    0% {
    left: calc( 0 * var(--offset) );
    top: calc( 0 * var(--offset) );
    }

    8.333% {
    left: calc( 0 * var(--offset) );
    top: calc( 1 * var(--offset) );
    }

    100% {
    left: calc( 0 * var(--offset) );
    top: calc( 1 * var(--offset) );
    }
}

@keyframes square2 {
    0% {
    left: calc( 0 * var(--offset) );
    top: calc( 1 * var(--offset) );
    }

    8.333% {
    left: calc( 0 * var(--offset) );
    top: calc( 2 * var(--offset) );
    }

    16.67% {
    left: calc( 1 * var(--offset) );
    top: calc( 2 * var(--offset) );
    }

    25.00% {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
    }

    83.33% {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
    }

    91.67% {
    left: calc( 1 * var(--offset) );
    top: calc( 0 * var(--offset) );
    }

    100% {
    left: calc( 0 * var(--offset) );
    top: calc( 0 * var(--offset) );
    }
}

@keyframes square3 {
    0%,100% {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
    }

    16.67% {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
    }

    25.00% {
    left: calc( 1 * var(--offset) );
    top: calc( 0 * var(--offset) );
    }

    33.33% {
    left: calc( 2 * var(--offset) );
    top: calc( 0 * var(--offset) );
    }

    41.67% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
    }

    66.67% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
    }

    75.00% {
    left: calc( 2 * var(--offset) );
    top: calc( 2 * var(--offset) );
    }

    83.33% {
    left: calc( 1 * var(--offset) );
    top: calc( 2 * var(--offset) );
    }

    91.67% {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
    }
}

@keyframes square4 {
    0% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
    }

    33.33% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
    }

    41.67% {
    left: calc( 2 * var(--offset) );
    top: calc( 2 * var(--offset) );
    }

    50.00% {
    left: calc( 3 * var(--offset) );
    top: calc( 2 * var(--offset) );
    }

    58.33% {
    left: calc( 3 * var(--offset) );
    top: calc( 1 * var(--offset) );
    }

    100% {
    left: calc( 3 * var(--offset) );
    top: calc( 1 * var(--offset) );
    }
}

@keyframes square5 {
    0% {
    left: calc( 3 * var(--offset) );
    top: calc( 1 * var(--offset) );
    }

    50.00% {
    left: calc( 3 * var(--offset) );
    top: calc( 1 * var(--offset) );
    }

    58.33% {
    left: calc( 3 * var(--offset) );
    top: calc( 0 * var(--offset) );
    }

    66.67% {
    left: calc( 2 * var(--offset) );
    top: calc( 0 * var(--offset) );
    }

    75.00% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
    }

    100% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
    }
}

@keyframes squarefadein {
    0% {
    transform: scale(0.75);
    opacity: 0.0;
    }

    100% {
    transform: scale(1.0);
    opacity: 1.0;
    }
}

/* Mini Loader *****************************************/
.spinner {
    --width: 5rem;
    position: absolute;
    width: 9px;
    height: 9px;
}

.spinner div {
    position: absolute;
    width: 50%;
    height: 150%;
    background: #000000;
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
    --delay: 0.1;
    --rotation: 36;
    --translation: 150;
}

.spinner div:nth-child(2) {
    --delay: 0.2;
    --rotation: 72;
    --translation: 150;
}

.spinner div:nth-child(3) {
    --delay: 0.3;
    --rotation: 108;
    --translation: 150;
}

.spinner div:nth-child(4) {
    --delay: 0.4;
    --rotation: 144;
    --translation: 150;
}

.spinner div:nth-child(5) {
    --delay: 0.5;
    --rotation: 180;
    --translation: 150;
}

.spinner div:nth-child(6) {
    --delay: 0.6;
    --rotation: 216;
    --translation: 150;
}

.spinner div:nth-child(7) {
    --delay: 0.7;
    --rotation: 252;
    --translation: 150;
}

.spinner div:nth-child(8) {
    --delay: 0.8;
    --rotation: 288;
    --translation: 150;
}

.spinner div:nth-child(9) {
    --delay: 0.9;
    --rotation: 324;
    --translation: 150;
}

.spinner div:nth-child(10) {
    --delay: 1;
    --rotation: 360;
    --translation: 150;
}

@keyframes spinner-fzua35 {
    0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
        transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    }

    50% {
        transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
    }
}